/FinancingPMSSolution/FinancingPMS/bin
/FinancingPMSSolution/FinancingPMS/obj
/FinancingPMSSolution/.vs
/FinancingAzureFunctions
/FinancingPMSSolution/FinancingPMS.Test/bin
/FinancingPMSSolution/FinancingPMS.Test/obj
