<div class="container" id="registrationContainer">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="breadcrumb flex-container">
        <button
          routerLink="register-firm"
          type="button"
          class="btn btn-primary btn-lg btn-block"
        >
          Register your Firm
        </button>
        <span>OR</span>
        <button
          routerLink="login"
          type="button"
          class="btn btn-secondary btn-lg btn-block"
        >
          Login to your Firm
        </button>
        <p>Please <strong>Login</strong> if already registered</p>
        <button
          routerLink="customer-login"
          type="button"
          class="btn btn-secondary btn-lg btn-block"
        >
          Login as Customer
        </button>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
