.dashboard {
  margin-top: 85px;
  display: inline-flex;
}

.sidenav {
  /* height: 100%; */
  width: 250px;
  position: absolute;
  left: 0;
  overflow-y: scroll;
  background-color: darkslategrey;
}

.sidenav a {
  text-align: center;
  padding: 15px;
  display: block;
}

.sidenav a:hover {
  background-color: white;
}

.main {
  margin-left: 250px;
}

.selected-anchor-tag {
  background-color: white;
}
.icon {
  display: inline-block;
}
