<div class="container dashboard">
  <div class="sidenav">
    <div></div>

    <a
      class="btn icon"
      routerLink="dashboard"
      routerLinkActive="selected-anchor-tag"
    >
      <i class="material-icons icon">dashboard</i>
      <p>Dashboard</p>
    </a>

    <a
      class="btn"
      routerLink="customers-list"
      routerLinkActive="selected-anchor-tag"
    >
      <i class="material-icons">content_paste</i>

      <p>List of Customers</p>
    </a>

    <a
      class="btn"
      routerLink="create-customer"
      routerLinkActive="selected-anchor-tag"
    >
      <i class="material-icons">create</i>

      <p>Create Customer</p>
    </a>

    <a
      class="btn"
      routerLink="create-agreement"
      routerLinkActive="selected-anchor-tag"
    >
      <i class="material-icons">create</i>

      <p>Create Agreement</p>
    </a>

    <a
      class="btn"
      routerLink="active-accounts"
      routerLinkActive="selected-anchor-tag"
    >
      <i class="material-icons">content_paste</i>

      <p>Active Customers/Accounts</p>
    </a>

    <a
      class="btn"
      routerLink="loan-types"
      routerLinkActive="selected-anchor-tag"
    >
      <i class="material-icons">content_paste</i>

      <p>Available Loan Types</p>
    </a>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
